# Dependencias (Pesas gigas y se generan con npm install)
node_modules/

# Configuración local (Contraseñas de la DB de cada uno)
.env

# Archivos compilados (Se generan con el comando build)
dist/
out/

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema y editores (Para que no se peleen los de Mac y Windows)
.DS_Store
.vscode/
.idea/
Thumbs.db